@use "sass:string";
@use "sass:list";
@use "sass:meta";

/// Inserts a modifier to a parent element
///
/// @param {string} $target
///   the target element in the tree
/// @param {string} $insert
///   the element or modifier you want to insert
/// @return {string} 
///   full new element tree

@mixin insert-selector($target, $insert) {
  @if meta.type-of($target) !='string' {
    @error "The argument $target: '#{$target}' is of incorrect type: '#{type-of($target)}'. Type of 'string' is required!";
  }

  @if meta.type-of($insert) !='string' {
    @error "The argument $insert: '#{$insert}' is of incorrect type: '#{type-of($insert)}'. Type of 'string' is required!";
  }

  // Find where the target is
  $index: string.index(#{&}, $target);

  $check-element: string.slice($insert, 1, 1);
  $prepends: ".",
  "[",
  "#",
  ":";

  // Check if insert is adding an attribute, add it after the element
  @if list.index($prepends, $check-element) {
    $length: string.length($target);
    $index: $index + $length;
  }

  // Insert the insert at the right location
  $return: string.insert(#{&}, $insert, $index);

  @at-root #{$return} {
    @content;
  }
}
