/// Inserts a modifier to a parent element
///
/// @param {string} $target
///   the target element in the tree
/// @param {string} $insert
///   the element or modifier you want to insert
/// @return {string} 
///   full new element tree

@mixin insert-selector($target, $insert) {
  @if type-of($target) !='string' {
    @error "The argument $target: '#{$target}' is of incorrect type: '#{type-of($target)}'. Type of 'string' is required!";
  }

  @if type-of($insert) !='string' {
    @error "The argument $insert: '#{$insert}' is of incorrect type: '#{type-of($insert)}'. Type of 'string' is required!";
  }

  // Test for target in full path
  @if (str-index(#{&}, $target) == null) {
    @error "The argument '#{$target}' is not in '#{&}'. Adjust the target!";
  }

  $selectors: selector-parse(#{&});
  @debug selector-parse(#{&});
  @debug type-of($selectors);
  @debug list-separator($selectors);
  $length: length($selectors);
  @debug $length;

  // Check if target is in tree
  @debug $target;
  @debug is-superselector(#{&}, $target);

  // Add a space before if target is not the first selector
  @if (str-index(#{&}, $target) !=1) {
    $target: " #{$target}";
  }

  // Find where the target is
  $index: str-index(#{&}, #{ $target});

  // Get the first character of the insert
  $check-element: str-slice($insert, 1, 1);
  $prepends: ".",
  "[",
  "#",
  ":";

  // Check if insert is adding an attribute, add it after the element
  @if index($prepends, $check-element) {
    $length: str-length($target);
    $index: $index + $length;
  }

  // Insert the insert at the right location
  $return: str-insert(#{&}, $insert, $index);

  @at-root #{$return} {
    @content;
  }
}
